node_modules
.env
.env.local
.env.*.local

dist
build
.next
out
coverage
*.tsbuildinfo

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

packages/db/generated
apps/**/.turbo
.DS_Store
.idea
